<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="tcal.css" />
    <script type="text/javascript" src="tcal.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body background="img/money.jpg">
<form name="test" method="post"  action="index.php">
<p align="center"><b>Введіть дату в форматі гггг-мм-дд:</b></br>
    <input type="text" size="35" name="date" class="tcal" value="" />
    <input type="hidden" name="go" value="add" >
    <!--<input type="text" size="40" name="data" align="center" value="">--></br>
    <b align="center">Введіть витрачену сумму:</b></br>
    <input type="text" size="38" name="summa" align="center" value=""></br></p>

<p align="center"><input type="submit" value="Додати запис">
    <input type="reset" value="Очистити"></p>
</body>
</html>